@charset "utf-8";
/* 自定义样式 */
td.details-control {
  background: url('/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.details td.details-control {
  background: url('/images/details_close.png') no-repeat center center;
}
.dataTables_processing{
  z-index: 1000;
}
.progress-bar-striped {
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
}
.progress-bar-primary .sr-only {
  background-color: #337ab7;
}
.toolbar-bottom-line {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  border-top: 1px solid #cfcfcf;
}
.toolbar-bottom-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}
.my-btn {
  border: 1px solid #ccc;
  border-radius: 2px;
}
.my-footer {
  border-top: 1px solid #a0a0a0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-size: 12px;
  background-color: #e6e6e6;
}
.my-tab {
  border: solid 1px #ddd;
}
.my-tab .tabBar {
  background-color: #f5f5f5;
  color: #444;
  border-bottom: solid 1px #ddd;
}
.my-tab .tabBar span {
  height: 30px;
  line-height: 30px;
  border-bottom: 0;
  margin-top: 2px;
}
.my-tab .tabBar span.current {
  background-color: white;
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  margin-left: 2px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: -1px;
}
.big .select2-container .select2-selection--single {
  height: 31px;
}
.big .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
}
.acrossTab li.active i {
  background-image: url(../../h-ui/images/acrossTab/acrossTab-close-1.png);
}
.Hui-aside .top-toolbar {
  background-color: white;
  border-bottom: 1px solid #c6c6c6;
  height: 30px;
}
.Hui-aside .top-toolbar .text-left {
  float: left;
  margin: 5px 10px 0 30px;
  font-weight: 600;
}
.Hui-aside .top-toolbar .btn-right {
  float: left;
  margin: 6px 5px 0 0;
  min-width: 45px;
}
.Hui-tabNav-more-left {
  position: absolute;
  left: 0px;
  width: 35px;
  top: 7px;
  display: block;
}
.Hui-tabNav-more-right {
  position: absolute;
  right: 0px;
  width: 35px;
  top: 7px;
  display: block;
}
.Hui-tabNav-more-right-group-btn {
  position: absolute;
  right: 35px;
  width: 45px;
  top: 7px;
  display: block;
}
.Hui-tabNav-more-right-img {
  padding-top: 5px;
  cursor: pointer;
  height: 16px;
}
.table-panel {
  width: 100%;
  margin-top: 1px;
}
.avatar-view {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  cursor: pointer;
}
.avatar-view img {
  max-height: 180px;
}
.my-layer-context {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 61px);
}
.my-layer-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
}