<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.server.mapper.TAbilityMapper">
  <resultMap id="BaseResultMap" type="fun.server.model.TAbility">
    <!--
    @mbg.generated
    -->
    <constructor>
      <idArg column="FKeyID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FCID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FUID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FCDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="FUDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="FState" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="FTypeID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FNote" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    FKeyID, FCID, FUID, FCDATE, FUDATE, FState, FTypeID, FName, FNote
  </sql>

  <select id="getabilityselectList" parameterType="fun.server.model.customQuery.ability.abilityCS" resultType="fun.server.model.customQuery.ability.abilityData">
    WITH RECURSIVE type_path AS (
    SELECT
    FKeyID,
    FName,
    FState,
    CAST(FName AS CHAR(255)) AS PATH

    FROM
    t_ability_type
    WHERE
    FPID = 1
    and FState =1
    UNION ALL
    SELECT
    t.FKeyID,
    t.FName,
    t.FState,
    CONCAT(tp.path, '/', t.FName)
    FROM
    t_ability_type t
    INNER JOIN
    type_path tp ON t.FPID = tp.FKeyID
    where t.FState =1
    )
    SELECT
    a.FKeyID AS FKeyID,
    a.FName AS FAbilityName,
    tp.path AS FAbilityTypeName
    FROM
    t_ability_tree a
    INNER JOIN
    type_path tp ON a.FTypeID = tp.FKeyID
    where  tp.FState = 1 and a.FDel =1 and a.FNodeType=1 and a.FState = 1
    <if test="name != null and name!=''">
       and ( a.FName like concat('%',#{name},'%')
      OR tp.FName like concat('%',#{name},'%'))
    </if>
    <if test="orderBy != null and orderBy!=''">
      order by ${orderBy}
    </if>
  </select>



</mapper>