<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.server.mapper.TCourseStudentScoreTbMapper">
  <resultMap id="BaseResultMap" type="fun.server.model.TCourseStudentScoreTb">
    <!--
    @mbg.generated
    -->
    <constructor>
      <idArg column="FKeyID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FCID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FUID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FCDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="FUDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="FState" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="FCourseID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FCourseStudentID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FAbilityLevelID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FConditionID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FACAMID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FCourseStandardsID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="FContent" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FScore" javaType="java.lang.Float" jdbcType="REAL" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    FKeyID, FCID, FUID, FCDATE, FUDATE, FState, FCourseID, FCourseStudentID, FAbilityLevelID, 
    FConditionID, FACAMID, FCourseStandardsID, FContent, FScore
  </sql>

</mapper>