<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.server.mapper.TProjectFilesMapper">
    <resultMap id="BaseResultMap" type="fun.server.model.TProjectFiles">
        <!--
        @mbg.generated
        -->
        <constructor>
            <idArg column="FKeyID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FCID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FUID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FCDATE" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="FUDATE" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="FState" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="FProjectID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FTaskID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="FFileName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="FTypeID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FEditionNo" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="FEdition" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="FValid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="FFileType" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="FSysName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="FFileID" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="fun.server.model.TProjectFiles">
        <!--
        @mbg.generated
        -->
        <constructor>
            <idArg column="FKeyID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FCID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FUID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FCDATE" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="FUDATE" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="FState" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="FProjectID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FTaskID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="FFileName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="FTypeID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FEditionNo" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="FEdition" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="FValid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="FFileType" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="FSysName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="FFileID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="FUrl" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
            <arg column="FNote" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--
        @mbg.generated
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
        @mbg.generated
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--
        @mbg.generated
        -->
        FKeyID, FCID, FUID, FCDATE, FUDATE, FState, FProjectID, FTaskID, FType, FFileName,
        FTypeID, FEditionNo, FEdition, FValid, FFileType, FSysName, FFileID
    </sql>

    <!--查询文件 历史信息-->
    <select id="getprojectfilesls"
            resultType="fun.server.model.customQuery.TProjectFilesList">
        SELECT FKeyID as fkeyid,FFileName,FEdition,FEditionNo,FValid,FNote,FUrl,FProjectID,FTaskID,FFileID
        FROM t_project_files
        WHERE 1=1
        AND (
        <choose>
            <when test="FFileID != null and FFileID!='' and FFileID!='-1'">
                 FFileID = #{FFileID}
            </when>
            <otherwise>
                 FFileID = 0
            </otherwise>
        </choose>
        <if test="isall == 1 ">
            AND FValid =0
        </if>
        )
        <choose>
            <when test="FFileID != null and FFileID!='' and FFileID!='-1'">
                OR FKeyID=#{FFileID}
            </when>
            <otherwise>
                OR FKeyID= 0
            </otherwise>
        </choose>
        order by FEditionNo desc
    </select>


    <select id="getFProjectFilesNum" resultType="INTEGER">
        SELECT COUNT(*) AS num FROM t_project_files tpf
        LEFT JOIN t_flow_cell_file_type tct
        ON tpf.FTypeID = tct.f_key_id
        WHERE 1=1 and tpf.FValid = 1
        <choose>
            <when test="FProjectID != null and FProjectID!='' and FProjectID!='-1'">
                and tpf.FProjectID = #{FProjectID}
            </when>
            <otherwise>
                and tpf.FProjectID = 0
            </otherwise>
        </choose>

        <if test="FTypeID != null and FTypeID!=''">
            AND tpf.FTypeID = #{FTypeID}
        </if>
    </select>

</mapper>